.App {
  text-align: center;
  margin:0;
  padding:0;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  width: 100vw;
  background: rgb(73,79,82);
  color: white;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
 
}

.home {
  text-decoration: none;
  border-bottom: none;
}